---
layout: default
title: Engagement
---
<div class="container">
    <h3 class="section-title">Engagement</h3>
    <div class="blockquote-container">
        <blockquote>
            <p>{{ site.data.blockquote.engagement.comment }}</p>
            <cite>{{ site.data.blockquote.engagement.cite }}</cite>
        </blockquote>
    </div>
    {% for engagement in site.data.engagement.engagements %}
    <dl>
        <dt>
            <p class="title">{{ engagement.title }}</p>
        </dt>
        <dd>
            <ul>
                {% for item in engagement.list %}
                <li>{{ item }}</li>
                {% endfor %}
            </ul>
        </dd>
    </dl>
    {% endfor %}
</div>
