<header>
    <div class="container">
        <div class="intro">
            <img class="profile" src="img/IMG_0328.jpeg">
            <p class="intro__name">{{ site.name }}</p>
            <p class="intro__main">{{ site.data.info.main }}</p>
            {% for extra in site.data.info.extra %}
            <p class="intro__extra">{{ extra }}</p>
            {% endfor %}
        </div>

        <ul class="nav">
            <li><a href="/">Research</a></li>
            <li><a href="/dissertation">Dissertation</a></li>
            <li><a href="/engagement">Engagement</a></li>
            <li><a href="/timeline">Timeline</a></li>
            <li><a href="/references">References</a></li>
            <!--<li><a href="#">Life with Music</a></li>-->
        </ul>
    </div>
</header>
