// @name Header
// @description All header styles

header {
  border-bottom: 1px solid #666;
  padding: ($spacer * 2) 0 $spacer 0;
  margin-bottom: ($spacer * 2);

  @media(min-width: 640px) {
    padding: ($spacer * 10) 0 ($spacer*6);
    margin-bottom: ($spacer * 3);
  }
}

.intro {
  margin-bottom: ($spacer * 2);

  .profile {
    margin: 0 $spacer;
    width: 50px;
    float: right;
    border-radius: 10px;
    @media(min-width: 640px) {
      width: 100px;
      float: right;
    }
  }

  &__name {
    font-size: 1.8rem;
    line-height: 1.2;
    font-weight: bold;
    margin: 10px 0 20px;
    @media(min-width: 640px) {
      font-size: 2.2rem;
    }
  }

  &__main {
    font-size: 1.1rem;
    font-weight: bold;
    margin: 0 5px;
    @media(min-width: 640px) {
      font-size: 1.3rem;
    }
  }

  &__extra {
    font-size: 0.8em;
    margin: 0 10px;
    @media(min-width: 640px) {
      font-size: 1.1rem;
    }
  }
}

.nav {
  li {
    margin-right: $spacer;
    list-style: none;
  }
  @media(min-width: 640px) {
    li {
      float: left;
      margin-right: ($spacer * 2);
    }
  }
}
