// @name Layout
// @description All layout settings and styles

// Default spacing unit
$spacer: 10px;

.container {
  max-width: 860px;
  margin: 0 auto;
  padding: 0 $spacer;
}

.section-title {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-bottom: ($spacer * 2);
  text-align: center;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 25%;
    width: 50%;
    height: 1px;
    background: #222;
  }
  @media(min-width: 640px) {
    font-size: 2rem;
  }
}

img {
  max-width: 100%;
  height: auto;
  margin: 20px 0 ($spacer * 4);
}